<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <context id="MySql" defaultModelType="flat">

        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>

        <jdbcConnection
                driverClass="com.mysql.jdbc.Driver"
                connectionURL="jdbc:mysql://localhost:3306/seckill"
                userId="root"
                password="123456"/>

        <javaModelGenerator targetPackage="com.huakai.mapper.dataobject"
                            targetProject="src/main/java"></javaModelGenerator>

        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources"></sqlMapGenerator>

        <javaClientGenerator targetPackage="com.huakai.mapper" targetProject="src/main/java"
                             type="XMLMAPPER"></javaClientGenerator>


        <!--        <table tableName="user_info" domainObjectName="UserDO" enableCountByExample="false" enableUpdateByExample="false"-->
        <!--               enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">-->
        <!--        </table>-->


        <!--        <table tableName="user_password" domainObjectName="UserPasswordDO" enableCountByExample="false" enableUpdateByExample="false"-->
        <!--               enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">-->
        <!--        </table>-->

        <!--        <table tableName="item" domainObjectName="ItemDO" enableCountByExample="false" enableUpdateByExample="false"-->
        <!--               enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">-->
        <!--        </table>-->


        <!--        <table tableName="item_stock" domainObjectName="ItemStockDO" enableCountByExample="false" enableUpdateByExample="false"-->
        <!--               enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">-->
        <!--        </table>-->

        <!--        <table tableName="order_info" domainObjectName="OrderDo" enableCountByExample="false" enableUpdateByExample="false"-->
        <!--               enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">-->
        <!--        </table>-->

<!--        <table tableName="sequence_info" domainObjectName="SequenceDO" enableCountByExample="false"-->
<!--               enableUpdateByExample="false"-->
<!--               enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">-->
<!--        </table>-->

        <table tableName="promo" domainObjectName="PromoDo" enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
        </table>

    </context>

</generatorConfiguration>
